@value tokens: "./Vars.Module.css";
@value clrTeal, clrPurple, clrOrange from tokens;

.container {
  composes: container from "./Vars.Module.css";
}

.header {
  width: 100%;
  padding: 1.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: clrTeal;
  text-align: center;
  border-bottom: 1rem solid white;
}

.title {
  composes: title from "./Vars.Module.css";
}

.content {
  flex: 1;
  display: grid;
}

.content > * {
  grid-column: 1;
  grid-row: 1;
}

.nav {
  z-index: 1;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 1.5rem;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.nav__item {
  display: flex;
}

.nav__item > a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
  margin: 1rem;
  color: white;
  background-color: clrPurple;
  border: .3rem solid clrOrange;
  border-radius: 1rem;
}
.nav__item > a:hover,
.nav__item > a:visited,
.nav__item > a:active {
  color: white;
  text-decoration: none;
}

.nav__item img {
  fill: red;
}

.nav__item__txt {
  margin-top: .5rem;
  font-family: 'Josefin Slab', sans-serif;
}

.nav__icon {
  width: 9rem;
  height: 7rem;
  background-size: 9rem 7.2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.hotspots__icon {
  composes: nav__icon;
  background-image: url(./../assets/images/hotspots-icon.svg);
}

.scan__icon {
  composes: nav__icon;
  background-image: url(./../assets/images/scan-icon.svg);
}

.map__icon {
  composes: nav__icon;
  background-image: url(./../assets/images/map-icon.svg);
}

.profile__icon {
  composes: nav__icon;
  background-image: url(./../assets/images/profile-icon.svg);
}

.leaderboard__icon {
  composes: nav__icon;
  background-image: url(./../assets/images/leaderboard-icon.svg);
}

.btn__download {
  z-index: 2;
  display: flex;
  width: 17.5rem;
  height: 15rem;
  margin-left: auto;
  align-self: flex-end;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  background-color: clrTeal;
  background-repeat: no-repeat;
  background-position:
    10rem 6rem,
    center;
  background-image: 
    url(./../assets/images/download-icon.svg),
    url(./../assets/images/download-icon-layout-line.svg);
  background-size:
    6.4rem,
    17.5rem 15rem;
}

.btn__download__txt {
  width: 10rem;
  margin: .3rem;
  margin-left: auto;
  align-self: flex-end;
  font-family: 'Josefin Slab', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: clrPurple;
  text-align: center;
}