@value tokens: "./Vars.Module.css";
@value clrPurple, clrLavender, clrGreen, clrOrange, clrRed, clrGrey, clrGreenFill, clrOrangeFill, clrRedFill, clrGreyFill from tokens;

.container {
  composes: container from "./Vars.Module.css";
}

.content {
  composes: container__content from "./Vars.Module.css";
}

.filter__list {
  width: 100vw;
  padding: 1rem 2rem;
  color: clrPurple;
  background-color: #E0DFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

.list {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 2rem;
  border-radius: 1rem;
  border: .3rem solid clrGrey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: clrGreyFill;
}

.list__item__01 {
  composes: item;
  border-color: clrGreen;
  background-color: clrGreenFill;
}

.list__item__02 {
  composes: item;
  border-color: clrOrange;
  background-color: clrOrangeFill;
}

.list__item__03 {
  composes: item;
  border-color: clrRed;
  background-color: clrRedFill;
}

.item__name {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  color: clrPurple;
  white-space: normal;
}

.favourite__icon {
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4rem 4rem;
}

.favourite__icon__true {
  composes: favourite__icon;
  background-image: url(./../assets/images/favourite-true-icon.svg);
}

.favourite__icon__false {
  composes: favourite__icon;
  background-image: url(./../assets/images/favourite-false-icon.svg);
}