.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.map {
  width: 100vw;
  height: 100vw;
}

.marker,
.marker__00 {
  composes: marker from "./Vars.Module.css";
  background-image: url(./../assets/images/pin-icon-grey.svg);
}

.marker__01 {
  composes: marker from "./Vars.Module.css";
  background-image: url(./../assets/images/pin-icon-green.svg);
}

.marker__02 {
  composes: marker from "./Vars.Module.css";
  background-image: url(./../assets/images/pin-icon-orange.svg);
}

.marker__03 {
  composes: marker from "./Vars.Module.css";
  background-image: url(./../assets/images/pin-icon-red.svg);
}