.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.map {
  width: 100vw;
  height: 100vw;
}

.marker__img {
  transform: translate(-50%, -50%);
}