@value tokens: "./Vars.Module.css";
@value clrTeal from tokens;

.container {
  z-index: 10;
  width: 100%;
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: clrTeal;
  border-bottom: 1rem solid white;
}

.container > * {
  align-self: center;
}

.title {
  composes: title from "./Vars.Module.css";
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  width: 5rem;
  height: 5rem;
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.btn__back {
  composes: btn;
  background-image: url(./../assets/images/back-icon.svg);
}

.btn__filter {
  composes: btn;
  background-image: url(./../assets/images/filter-icon.svg);
}

.btn__favourite {
  composes: btn;
  background-image: url(./../assets/images/favourite-false-icon.svg);
}

.btn__favourite__false {
  composes: btn;
  background-image: url(./../assets/images/favourite-false-icon.svg);
}

.btn__favourite__true {
  composes: btn;
  background-image: url(./../assets/images/favourite-true-icon.svg);
}