.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.scanner {
  display: grid;
}

/* stylelint-disable */

.scanner > * {
  grid-column: 1;
  grid-row: 1;
}

/* stylelint-enable */

.instruction {
  z-index: 5;
  margin: 2rem auto;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  height: fit-content;
}

.focus__area {
  z-index: 4;
  margin: 0 auto;
  align-self: center;
}