@value clrBackground: #F6F6FC;
@value clrTeal: #A5FFF7;
@value clrPurple: #4D4BC0;
@value clrLavender: #B4B3F0;
@value clrLavenderFill: #EAEAFF;
@value clrGreen: #70C04B;
@value clrOrange: #F8BB84;
@value clrRed: #F88484;
@value clrGrey: #818181;
@value clrFillOpacity: 0.15;
@value clrGreenFill: rgba(112, 192, 75, clrFillOpacity);
@value clrOrangeFill: rgba(248, 187, 132, clrFillOpacity);
@value clrRedFill: rgba(248, 132, 132, clrFillOpacity);
@value clrGreyFill: rgba(208, 208, 208, .5);

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container__items {
  width: 100vw;
}

.container__content {
  overflow-y: scroll;
  flex: 1;
}

.title {
  margin-top: .4rem;
  color: clrPurple;
  font-size: 2.2rem;
  font-family: 'Josefin Slab', sans-serif;
  text-transform: uppercase;
}

.marker {
  width: 6rem;
  height: 6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem;
  margin-top: -6rem;
  margin-left: -3rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  cursor: pointer;
  width: 100%;
  padding: 1.4rem 0 1.4rem 0;
  margin-bottom: 1.2rem;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: white;
  border-radius: .8rem;
  border-width: .3rem;
  border-style: solid;
  text-align: center;
}

.btn:hover {
  background-color: white;
}

.btn:active {
  background-color: clrLavenderFill;
}

.btn__primary {
  composes: btn;
  background-color: clrPurple;
  border-color: clrPurple;
}

.btn__primary:hover {
  color: clrPurple;
}

.btn__secondary {
  composes: btn;
  background-color: #8B8AEC;
  border-color: #8B8AEC;
}

.btn__secondary:hover {
  color: #8B8AEC;
}

.btn__tertiary {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: clrPurple;
  text-decoration: underline;
  text-align: center;
}

.form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: clrPurple;
}

.input {
  margin-top: .5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: clrPurple;
  background-color: #DBDBF2;
  border: .1rem solid clrPurple;
  border-radius: .8rem;
  padding: 1rem;
}

.input::placeholder {
  color: #AEADF9;
}

.loading {
  margin: auto;
  align-self: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: clrPurple;
}

.error {
  margin: auto;
  align-self: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: clrRed;
}