@value clrBackground: #F6F6FC;
@value clrTeal: #A5FFF7;
@value clrPurple: #4D4BC0;
@value clrOrange: #F8BB84;
@value clrLavender: #B4B3F0;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container__items {
  width: 100vw;
}

.container__content {
  overflow-y: scroll;
  flex: 1;
}

.title {
  margin-top: .4rem;
  color: clrPurple;
  font-size: 2.2rem;
  font-family: 'Josefin Slab', sans-serif;
  text-transform: uppercase;
}